{% extends "base_generic.html" %}
{% block content %}
    <h1>Author: {{ author.first_name }}, {{ author.last_name }}</h1>
    <p><strong>Birth date: </strong>{{ author.date_of_birth }}</p>
    <p><strong>Death date: </strong>{{ author.date_of_death }}</p>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>

        {% for copy in author.book_set.all %}

            <hr>
            {% if copy.author == author %}<a href="{{ copy.get_absolute_url }}"><p> {{ copy.title }}</p></a>{% endif %}
            <p>{{ copy.summary }}</p>


        {% endfor %}
    </div>
{% endblock %}